/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 12;
}

nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a{
    text-decoration: none;
    color: aqua;
    font-size: 30px;
    font-weight: 800;

}

.menu ul{
    display: inline-flex;
}

.menu ul li{
    list-style: none;
    margin-left: 7px;

}

.menu ul li a{
    text-decoration: none;
    color: #b3c3c9;
    font-weight: 500;
    background: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.menu ul li a:hover{
    background: white;
    color: #8cbd96;
    }

.IMG_3314{
    background-image: url(IMG_3314.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.IMG_3314::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4)
}

.center{
    position: absolute;
    top 52%;
    left: 50%;
    transform: translate(-50%, -300%);
    padding: 0 20px;
    text-align: center;
}

.center .title{
    color: white;
    font-size: 55px;
    font-weight: 600;
}
.center .sub_title{
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    translation: all 0.3s ease;
}



.body{
    font-family: 'Arial', sans-serif;
    color: #8cbd96;
    text-rendering: optimizeLegibility;
    margin: 0;

}

*,
*: before,
*: after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background:  azure;
}


.wrapper {
    max-width: 75rem;
    padding: 2rem;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 12.5rem);
    gap: 0.5rem;
}

.gallery_item_1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.gallery_item_2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.gallery_item_3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.gallery_item_4 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
}

.gallery_item_5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
}

.gallery_item_6 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}


.gallery_link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    font_size: 1.5rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.gallery_link:hover .gallery_overlay {
    opacity: 1;
}

.gallery_overlay span {
    position: relative;
}

.gallery_overlay span:before,
.gallery_overlay span:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: azure;
    transition: width 0.5s ease-out 0.7s;
}

.gallery_overlay span:before {
    top:0;
    left: 0;
}

.gallery_overlay span:after {
    bottom: 0;
    right: 0;
}

.gallery_link:hover .gallery_overlay span:before,
.gallery_link:hover .gallery_overlay span:after {
    width: 100%;
}

.gallery_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
            transform 0.5s;
            filter 0.5s;
}

.gallery_link:hover .gallery_image {
    transform: scale(1.2);
    filter: blur(0.5px)
}

@media screen and (max-width: 60rem) {
    .wrapper {
        padding: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery_item_1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .gallery_item_2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .gallery_item_3 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    .gallery_item_4 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 2;
    }

    .gallery_item_5 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .gallery_item_6 {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    }
}

@media screen and (max-width: 37.5rem) {
    .gallery {
        display: block;
    }

    .gallery_item {
        margin: 0.5rem;
    }

    .gallery_link {
        height: 80vw;
    }

    .gallery_overlay {
        font-size: 1.25rem;
    }

}


/* About Page */

.About_container{
    width: 100vw;
    height: 70vh;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 8vw 10vw;
    border-radius: 5px;
    font-weight: 500;
    margin-bottom: 20px;
}


.body_text{
    color: #333333;
    font-weight: 500;
    border-radius: 5px;
}


.edit_work {
    background-color: white;
    padding: 2rem;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 2rem;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.edit_work h1 {
    color: #0f2027;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
}

.edit_work label {
    display: block;
    margin-bottom: 0.5rem;
}

.edit_work input, .edit_work textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.edit_work button {
    background-color: #38cece;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
}

.edit_work button:hover {
    background-color: #23b4b4;
}



.list_works {
    background-color: white;
    padding: 2rem;
    width: 80%;
    max-width: 1200px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 2rem;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.list_works h1 {
    color: #0f2027;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
}

.work_item {
    background-color: #f0ffff;
    padding: 1rem;
    margin-bottom: 5rem;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_works ul li.work_item {
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}


.list_works ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.list_works ul p {
    margin-bottom: 20px;
    text-indent: 20px;
    text-align: center;
}

.list_works button {
    padding: 0.75rem 1.5rem;
    color: white;
    background-color: #38cece;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list_works button:hover {
    background-color: #23b4b4;
}


.submit_your_works {
    background-color: white;
    padding: 2rem;
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit_your_works h1 {
    color: #0f2027;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
}

.submit_your_works label {
    display: block;
    margin-bottom: 0.5rem;
}

.submit_your_works input, .submit_your_works textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit_your_works button {
    background-color: #38cece;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit_your_works button:hover {
    background-color: #23b4b4;
}


/* Register Page and Login Page */

.container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
}

.login_register_form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

.login_register_form h1 {
    color: #0f2027;
    text-align: center;
    margin-top: 30px;
}

.login_register_form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(56, 206, 206);
    border: none;
    border-radius: 4px;
}

.login_register_form button:hover {
    background-color: #23b4b4;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #38cece;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.flash-container {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 10;
    text-align: center;
}

.alert {
    margin: 0;
    border-radius: 0;
    padding: 10px 20px; /* Add padding for better readability */
    font-size: 16px; /* Adjust the font size */
    opacity: 0.9; /* Make the message slightly transparent */
    transition: opacity 0.3s ease-in-out;
}

.alert-danger {
    background-color: #ff3860;
    color: #fff;
}

.alert-success {
    background-color: #00ffff;
    color: #fff;
}


.alert-dismissible .close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
}