<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}">
    <script defer src="{{ url_for('static', filename='javascript/index.js') }}"></script>
  {% endblock %}
</head>
<header>
<nav>
        <div class="menu">
            <div class="logo">
                <a href="/">Auslanderina</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/all_works">Works</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    {% if category == 'error' %}
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% else %}
      <div class="alert alert-success alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
{% endwith %}

  {% block header %} {% endblock %}
</header>
<body>
  {% block body %}{% endblock %}
</body>
</html>